In [1]:
import pandas as pd
import geopandas as gpd
import requests

In [2]:
metros = gpd.read_file('../data/metro/tl_2020_us_uac10.shp')

API info page https://openei.org/services/doc/rest/util_rates/?version=3#json-output-format

In [3]:
url = 'https://api.openei.org/utility_rates?version=3&format=json&api_key=y6C2p5K9VoXH2qYEyxlkJaNco4uEKVnyhR5BirL4'

In [4]:
#test with geocenter of Davidson County
params = {'sector':'Residential',
          
         'lat':36.169518278335836,
         'lon':-86.78492656233847
         }

In [5]:
response = requests.get(url, params = params)

In [6]:
response

In [7]:
json = response.json()

In [8]:
davidson = pd.json_normalize(json['items'])
davidson

,label,uri,revisions,approved,utility,eiaid,name,startdate,enddate,sector,source,sourceparent,description
0,539f7116ec4f024411ece1cb,https://openei.org/apps/USURDB/rate/view/539f7...,"[1356711363, 1356711504, 1367258179, 139241371...",True,Nashville Electric Service,13216,RS Residential Service,1404172800,1.446246e+09,Residential,http://www.nespower.com/documents/RSJul14.pdf,http://www.nespower.com/resrates.html,NaN
1,564784d45457a3825485a255,https://openei.org/apps/USURDB/rate/view/56478...,"[1447502436, 1447502587, 1447503062, 145043131...",True,Nashville Electric Service,13216,RS Residential Service,1448928000,1.467245e+09,Residential,http://www.nespower.com/documents/RSNov15.pdf,http://www.nespower.com/resrates.html,NaN
2,57850efa5457a3803f29b89f,https://openei.org/apps/USURDB/rate/view/57850...,"[1468316314, 1468316566, 1490260956]",True,Nashville Electric Service,13216,RS Residential Service,1467331200,1.488244e+09,Residential,http://www.nespower.com/documents/RSJul16.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
3,58d3e83c5457a36c76d557f0,https://openei.org/apps/USURDB/rate/view/58d3e...,"[1490260956, 1490261326, 1525451462]",True,Nashville Electric Service,13216,RS Residential Service,1488330000,1.525046e+09,Residential,https://nespower.com/documents/RSMar2017.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
4,5aecdf265457a39575a3d164,https://openei.org/apps/USURDB/rate/view/5aecd...,"[1525451462, 1525451916, 1525451948, 1547811578]",True,Nashville Electric Service,13216,RS Residential Service (Less than 500 kWh),1525132800,1.546214e+09,Residential,https://nespower.com/documents/RSMay2018.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
5,5aece1125457a30312a3d164,https://openei.org/apps/USURDB/rate/view/5aece...,"[1525451954, 1525452003, 1566998545]",True,Nashville Electric Service,13216,RS Residential Service (500 kWh - 4000kWh),1525132800,1.564531e+09,Residential,https://nespower.com/documents/RSMay2018.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
6,5aece1485457a3520ba3d164,https://openei.org/apps/USURDB/rate/view/5aece...,"[1525452008, 1525452039, 1566998660]",True,Nashville Electric Service,13216,RS Residential Service (Over 4000kWh),1525132800,1.564531e+09,Residential,https://nespower.com/documents/RSMay2018.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
7,5c421d6a5457a3e3231482c5,https://openei.org/apps/USURDB/rate/view/5c421...,"[1547811578, 1566998742]",True,Nashville Electric Service,13216,RS Residential Service (Less than 500 kWh),1546300800,1.564531e+09,Residential,https://nespower.com/documents/RSMay2018.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
8,5d66d4715457a3ed13c68cdd,https://openei.org/apps/USURDB/rate/view/5d66d...,"[1566998545, 1566998626]",True,Nashville Electric Service,13216,RS Residential Service (500 kWh - 4000kWh),1564617600,NaN,Residential,https://nespower.com/documents/RSMay2018.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
9,5d66d4e45457a3ed13c68cde,https://openei.org/apps/USURDB/rate/view/5d66d...,"[1566998660, 1566998713]",True,Nashville Electric Service,13216,RS Residential Service (Over 4000kWh),1564617600,NaN,Residential,https://nespower.com/documents/RSMay2018.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
10,5d66d5365457a3ee03c68cdd,https://openei.org/apps/USURDB/rate/view/5d66d...,"[1566998742, 1566998796]",True,Nashville Electric Service,13216,RS Residential Service (Less than 500 kWh),1564617600,NaN,Residential,https://nespower.com/documents/RSMay2018.pdf,http://www.nespower.com/resrates.html,This rate shall apply only to electric service...
11,5d9603f55457a3eb0661b9f1,https://openei.org/apps/USURDB/rate/view/5d960...,[1570090901],True,Tennessee Valley Authority (Mississippi),18642,Residential Service RS,1567296000,NaN,Residential,https://www.nemepa.org/wp-content/uploads/2019...,https://www.nemepa.org/rates/,NaN

In [9]:
#keep current data and drop extras
davidson[davidson.enddate.isna()].loc[:,['utility','eiaid']].drop_duplicates()

                                     utility  eiaid
8                 Nashville Electric Service  13216
11  Tennessee Valley Authority (Mississippi)  18642

In [10]:
metros

,UACE10,GEOID10,NAME10,NAMELSAD10,LSAD10,MTFCC10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,24310,24310,"Dixon, IL","Dixon, IL Urban Cluster",76,G3500,C,S,25562730,938057,+41.8529507,-089.4817439,"POLYGON ((-89.49859 41.85467, -89.49858 41.855..."
1,27847,27847,"Escanaba, MI","Escanaba, MI Urban Cluster",76,G3500,C,S,46643391,283456,+45.7274565,-087.0824457,"MULTIPOLYGON (((-87.09519 45.79692, -87.09496 ..."
2,18100,18100,"Clintonville, WI","Clintonville, WI Urban Cluster",76,G3500,C,S,5854687,502563,+44.6232203,-088.7611283,"POLYGON ((-88.78650 44.62996, -88.78574 44.630..."
3,06166,06166,"Bedford, IN","Bedford, IN Urban Cluster",76,G3500,C,S,30413950,2314,+38.8566530,-086.5012383,"MULTIPOLYGON (((-86.52020 38.86783, -86.52016 ..."
4,75270,75270,"Riverdale, CA","Riverdale, CA Urban Cluster",76,G3500,C,S,2306821,0,+36.4310710,-119.8620544,"POLYGON ((-119.86913 36.43083, -119.87093 36.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3596,95482,95482,"Williamston, MI","Williamston, MI Urban Cluster",76,G3500,C,S,10894351,243568,+42.6866692,-084.2572215,"MULTIPOLYGON (((-84.30242 42.69377, -84.30236 ..."
3597,56980,56980,"Midland, MI","Midland, MI Urbanized Area",75,G3500,U,S,116227571,3686781,+43.6163010,-084.2198783,"MULTIPOLYGON (((-84.19986 43.65057, -84.19703 ..."
3598,10675,10675,"Brooklyn, MI","Brooklyn, MI Urban Cluster",76,G3500,C,S,7677057,129296,+42.1020619,-084.2748473,"POLYGON ((-84.25746 42.10875, -84.25746 42.110..."
3599,31450,31450,"Franklin--Highland Lake, NJ","Franklin--Highland Lake, NJ Urban Cluster",76,G3500,C,S,84306618,3337407,+41.1692099,-074.5460821,"MULTIPOLYGON (((-74.58574 41.19401, -74.58563 ..."
3600,16171,16171,"Chester, NY","Chester, NY Urban Cluster",76,G3500,C,S,9360430,3420,+41.3627073,-074.2780785,"MULTIPOLYGON (((-74.29092 41.36863, -74.29016 ..."

In [13]:
x = []
utility_region = pd.DataFrame()
for index, row in metros.iloc[0:10].iterrows():
    params = {'sector':'Residential',          
         'lat':row.INTPTLAT10,
         'lon':row.INTPTLON10
         }
    response = requests.get(url, params = params)
    print(str(index)+' - ' +str(response))
    if len(response.json()['items']):
        df = pd.json_normalize(response.json()['items'])
        df['GEOID10'] = row['GEOID10']
        try:
            df = df[df.enddate.isna()]
        except:
            x.append(index)
        utility_region = utility_region.append(df.loc[:,['GEOID10','utility','eiaid']].drop_duplicates())
    else:
        utility_region = utility_region.append({'region_name': row['GEOID10'],'utility':'No','eiaid':'No'}, ignore_index=True)

0 - <Response [200]>
1 - <Response [200]>
2 - <Response [200]>
3 - <Response [200]>
4 - <Response [200]>
5 - <Response [200]>
6 - <Response [200]>
7 - <Response [200]>
8 - <Response [200]>
9 - <Response [200]>

In [14]:
x

[1, 8]

In [15]:
utility_region = utility_region.astype({'eiaid':'str'})
utility_region.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 57
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GEOID10  10 non-null     object
 1   utility  10 non-null     object
 2   eiaid    10 non-null     object
dtypes: object(3)
memory usage: 320.0+ bytes

In [20]:
rates = pd.read_excel('../data/rates19/Sales_Ult_Cust_2019.xlsx',
                      sheet_name='States', header=2,usecols='B:E,G:H,K:M', dtype={'Utility Number':'str'}, na_values='.')
rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4486 entries, 0 to 4485
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Utility Number    4485 non-null   object
 1   Utility Name      4485 non-null   object
 2   Part              4485 non-null   object
 3   Service Type      4485 non-null   object
 4   State             4485 non-null   object
 5   Ownership         4353 non-null   object
 6   Thousand Dollars  4361 non-null   float64
 7   Megawatthours     4360 non-null   float64
 8   Count             4361 non-null   float64
dtypes: float64(3), object(6)
memory usage: 315.5+ KB

In [21]:
rates = rates[rates['Megawatthours']>0]
rates['rate'] = rates['Thousand Dollars'] / rates['Megawatthours']

In [22]:
rates

,Utility Number,Utility Name,Part,Service Type,State,Ownership,Thousand Dollars,Megawatthours,Count,rate
0,34,City of Abbeville - (SC),A,Bundled,SC,Municipal,4563.0,33000.0,3384.0,0.138273
1,55,City of Aberdeen - (MS),A,Bundled,MS,Municipal,3930.0,34781.0,2566.0,0.112993
2,59,City of Abbeville - (LA),A,Bundled,LA,Municipal,5907.5,59232.0,4580.0,0.099735
3,84,A & N Electric Coop,A,Bundled,MD,Cooperative,273.5,2094.0,272.0,0.130611
4,84,A & N Electric Coop,A,Bundled,VA,Cooperative,44102.0,357988.0,31427.0,0.123194
...,...,...,...,...,...,...,...,...,...,...
4475,99999,Adjustment 2019,B,Energy,NY,NaN,157.4,1471.0,161.0,0.107002
4476,99999,Adjustment 2019,B,Energy,OH,NaN,256623.9,4187848.0,418057.0,0.061278
4479,99999,Adjustment 2019,B,Energy,PA,NaN,591.2,7478.0,1057.0,0.079059
4480,99999,Adjustment 2019,B,Energy,PA,NaN,30473.4,338017.0,6571.0,0.090153
4481,99999,Adjustment 2019,B,Energy,RI,NaN,7678.6,57646.0,8521.0,0.133203

In [23]:
output = utility_region.merge(rates, left_on='eiaid', right_on='Utility Number')
output

,GEOID10,utility,eiaid,Utility Number,Utility Name,Part,Service Type,State,Ownership,Thousand Dollars,Megawatthours,Count,rate
0,24310,Commonwealth Edison Co,4110,4110,Commonwealth Edison Co,A,Bundled,IL,Investor Owned,2343491.1,17616341.0,2520161.0,0.133029
1,24310,Commonwealth Edison Co,4110,4110,Commonwealth Edison Co,C,Delivery,IL,Investor Owned,572201.4,9196718.0,1137735.0,0.062218
2,27847,"City of Escanaba, Michigan (Utility Company)",24558,24558,City of Escanaba,A,Bundled,MI,Municipal,4337.0,34913.0,6037.0,0.124223
3,18100,"City of Clintonville, Wisconsin (Utility Company)",3814,3814,City of Clintonville - (WI),A,Bundled,WI,Municipal,1941.0,17689.0,2342.0,0.109729
4,06166,Duke Energy Indiana Inc,15470,15470,"Duke Energy Indiana, LLC",A,Bundled,IN,Investor Owned,1085020.7,9246749.0,733944.0,0.117341
5,75270,Pacific Gas & Electric Co,14328,14328,Pacific Gas & Electric Co.,A,Bundled,CA,Investor Owned,3224897.0,14429648.0,2277864.0,0.223491
6,75270,Pacific Gas & Electric Co,14328,14328,Pacific Gas & Electric Co.,C,Delivery,CA,Investor Owned,1903456.0,13083788.0,2567618.0,0.145482
7,74044,Pacific Gas & Electric Co,14328,14328,Pacific Gas & Electric Co.,A,Bundled,CA,Investor Owned,3224897.0,14429648.0,2277864.0,0.223491
8,74044,Pacific Gas & Electric Co,14328,14328,Pacific Gas & Electric Co.,C,Delivery,CA,Investor Owned,1903456.0,13083788.0,2567618.0,0.145482
9,24445,Pacific Gas & Electric Co,14328,14328,Pacific Gas & Electric Co.,A,Bundled,CA,Investor Owned,3224897.0,14429648.0,2277864.0,0.223491
10,24445,Pacific Gas & Electric Co,14328,14328,Pacific Gas & Electric Co.,C,Delivery,CA,Investor Owned,1903456.0,13083788.0,2567618.0,0.145482
11,28657,Pacific Gas & Electric Co,14328,14328,Pacific Gas & Electric Co.,A,Bundled,CA,Investor Owned,3224897.0,14429648.0,2277864.0,0.223491
12,28657,Pacific Gas & Electric Co,14328,14328,Pacific Gas & Electric Co.,C,Delivery,CA,Investor Owned,1903456.0,13083788.0,2567618.0,0.145482
13,90946,Southern California Edison Co,17609,17609,Southern California Edison Co,A,Bundled,CA,Investor Owned,4005617.0,24712671.0,3593459.0,0.162088
14,90946,Southern California Edison Co,17609,17609,Southern California Edison Co,C,Delivery,CA,Investor Owned,535514.0,5211859.0,896003.0,0.102749
15,56251,Merced Irrigation District,12312,12312,Merced Irrigation District,A,Bundled,CA,Political Subdivision,10253.3,61573.0,8825.0,0.166523

,UACE10,GEOID10,NAME10,NAMELSAD10,LSAD10,MTFCC10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
3500,02901,02901,"Arcadia, WI","Arcadia, WI Urban Cluster",76,G3500,C,S,5469605,0,+44.2496937,-091.4909329,"POLYGON ((-91.51362 44.24844, -91.51376 44.249..."
3501,15769,15769,"Chatfield, MN","Chatfield, MN Urban Cluster",76,G3500,C,S,4039184,0,+43.8476598,-092.1851213,"MULTIPOLYGON (((-92.19283 43.85429, -92.19286 ..."
3502,06128,06128,"Becker, MN","Becker, MN Urban Cluster",76,G3500,C,S,5079749,4722,+45.4038297,-093.8744193,"MULTIPOLYGON (((-93.89866 45.40666, -93.89830 ..."
3503,41752,41752,"Ironwood, MI--WI","Ironwood, MI--WI Urban Cluster",76,G3500,C,S,13635296,130062,+46.4536503,-090.1757084,"MULTIPOLYGON (((-90.15054 46.45280, -90.15078 ..."
3504,29116,29116,"Faribault, MN","Faribault, MN Urban Cluster",76,G3500,C,S,29469201,592057,+44.2940699,-093.2818530,"MULTIPOLYGON (((-93.26499 44.30722, -93.26457 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3596,95482,95482,"Williamston, MI","Williamston, MI Urban Cluster",76,G3500,C,S,10894351,243568,+42.6866692,-084.2572215,"MULTIPOLYGON (((-84.30242 42.69377, -84.30236 ..."
3597,56980,56980,"Midland, MI","Midland, MI Urbanized Area",75,G3500,U,S,116227571,3686781,+43.6163010,-084.2198783,"MULTIPOLYGON (((-84.19986 43.65057, -84.19703 ..."
3598,10675,10675,"Brooklyn, MI","Brooklyn, MI Urban Cluster",76,G3500,C,S,7677057,129296,+42.1020619,-084.2748473,"POLYGON ((-84.25746 42.10875, -84.25746 42.110..."
3599,31450,31450,"Franklin--Highland Lake, NJ","Franklin--Highland Lake, NJ Urban Cluster",76,G3500,C,S,84306618,3337407,+41.1692099,-074.5460821,"MULTIPOLYGON (((-74.58574 41.19401, -74.58563 ..."
3600,16171,16171,"Chester, NY","Chester, NY Urban Cluster",76,G3500,C,S,9360430,3420,+41.3627073,-074.2780785,"MULTIPOLYGON (((-74.29092 41.36863, -74.29016 ..."

19

   GEOID10                                            utility  eiaid
0    24310                             Commonwealth Edison Co   4110
0    27847       City of Escanaba, Michigan (Utility Company)  24558
7    18100  City of Clintonville, Wisconsin (Utility Company)   3814
4    06166                            Duke Energy Indiana Inc  15470
57   75270                          Pacific Gas & Electric Co  14328
78   90946                      Southern California Edison Co  17609
57   74044                          Pacific Gas & Electric Co  14328
57   24445                          Pacific Gas & Electric Co  14328
0    56251                         Merced Irrigation District  12312
57   28657                          Pacific Gas & Electric Co  14328

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19